.container a{
    text-decoration: none;
    color:white;
    /* font-family: 'Oswald', sans-serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Mogra', cursive; */
font-family: 'Pacifico', cursive;
    /* font-family: 'Oswald', sans-serif; */
}
/*   */